<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <environments default="">
    <environment id="">
      <transactionManager type="JDBC"/>
	<dataSource type="JNDI">
        <property name="data_source" value="java:comp/env/jdbc/mysql"/>
	</dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="web/mybatis/mapper/member.xml"/>
    <mapper resource="web/mybatis/mapper/couponItem.xml"/>
    <mapper resource="web/mybatis/mapper/dailyBoxOffice.xml"/>
    <mapper resource="web/mybatis/mapper/inquiry.xml"/>
    <mapper resource="web/mybatis/mapper/iqComment.xml"/>
    <mapper resource="web/mybatis/mapper/issuedCoupon.xml"/>
    <mapper resource="web/mybatis/mapper/member.xml"/>
    <mapper resource="web/mybatis/mapper/movieList.xml"/>
    <mapper resource="web/mybatis/mapper/notice.xml"/>
    <mapper resource="web/mybatis/mapper/ntCategory.xml"/>
    <mapper resource="web/mybatis/mapper/payment.xml"/>
    <mapper resource="web/mybatis/mapper/reservation.xml"/>
    <mapper resource="web/mybatis/mapper/reserver.xml"/>
    <mapper resource="web/mybatis/mapper/review.xml"/>
    <mapper resource="web/mybatis/mapper/screeningSchedule.xml"/>
    <mapper resource="web/mybatis/mapper/selectSeat.xml"/>
    <mapper resource="web/mybatis/mapper/theater.xml"/>
    <mapper resource="web/mybatis/mapper/theaterSeat.xml"/>
  </mappers>
</configuration>