.modal-wrapper{
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 600px;
  height: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal .modal-button {
  position: absolute;
  width: 68px;
  height: 36px;
  top: 514px;
  left: 261px;
  background-color: #0f212b;
  border-radius: 4px;
}

.modal .text-wrapper {
  position: absolute;
  width: 52px;
  height: 23px;
  top: -4px;
  left: 6px;
  font-family: "NanumBarunGothic-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  letter-spacing: -0.5px;
  line-height: 46px;
  white-space: nowrap;
}

.modal .modal-header {
  position: absolute;
  width: 600px;
  height: 45px;
  top: 0;
  left: 0;
  background-color: #0e2128;
}

.modal .text-wrapper-2 {
  width: 30px;
  top: 12px;
  left: 15px;
  color: #ffffff;
  font-size: 15px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.modal .multiply {
  position: absolute;
  width: 23px;
  height: 23px;
  top: 11px;
  left: 566px;
}

.modal .txt-comon {
  position: absolute;
  width: 560px;
  height: 23px;
  top: 65px;
  left: 20px;
}

.modal .text-wrapper-3 {
  width: 511px;
  top: -1px;
  left: 0;
  color: #000000;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.modal .txt-comon-2 {
  position: absolute;
  width: 560px;
  height: 216px;
  top: 108px;
  left: 20px;
}

.modal .frame {
  width: 560px;
  top: 0;
  left: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #000000;
  position: absolute;
  height: 54px;
}

.modal .div-wrapper {
  width: 140px;
  top: 0;
  left: 0;
  background-color: #ebebebab;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #ebebeb;
  position: absolute;
  height: 54px;
}

.modal .text-wrapper-4 {
  width: 140px;
  height: 24px;
  top: 14px;
  left: 0;
  color: #000000;
  font-size: 20px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.modal .frame-2 {
  width: 420px;
  top: 0;
  left: 140px;
  position: absolute;
  height: 54px;
}

.modal .text-wrapper-5 {
  width: 420px;
  height: 54px;
  top: -1px;
  left: 0;
  color: #000000;
  font-size: 20px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 61px;
  padding-left: 15px;
}

.modal .frame-3 {
  width: 560px;
  top: 54px;
  left: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #ebebeb;
  position: absolute;
  height: 54px;
}

.modal .frame-4 {
  width: 560px;
  top: 108px;
  left: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #ebebeb;
  position: absolute;
  height: 54px;
}

.modal .frame-5 {
  width: 560px;
  top: 162px;
  left: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #ebebeb;
  position: absolute;
  height: 54px;
}
