@charset "UTF-8";
.screen {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen .container-wrapper {
  background-color: #ffffff;
  width: 1920px;
  height: 2515px;
}

.screen .container {
  position: relative;
  height: 2515px;
}

.screen .heading {
  position: absolute;
  width: 284px;
  height: 58px;
  top: 280px;
  left: 217px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #222222;
  font-size: 40px;
  letter-spacing: -1px;
  line-height: 30.8px;
}

.screen .overlap-group {
  position: absolute;
  width: 1547px;
  height: 1743px;
  top: 524px;
  left: 219px;
}

.screen .strong {
  position: absolute;
  width: 61px;
  height: 17px;
  top: 0;
  left: 206px;
}

.screen .element {
  width: 137px;
  height: 29px;
  top: -104px;
  left: -223px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 30px;
  text-align: right;
  line-height: 16.5px;
  position: absolute;
  letter-spacing: 0;
}

.screen .text-wrapper {
  color: #444444;
}

.screen .span {
  color: #01738b;
}

.screen .list-wrapper {
  position: absolute;
  width: 1547px;
  height: 1743px;
  top: 0;
  left: 0;
  overflow: hidden;
}

.screen .list {
  position: relative;
  width: 1644px;
  height: 1743px;
  left: -43px;
}

.screen .item-link {
  position: absolute;
  width: 439px;
  height: 350px;
  top: 2px;
  left: 45px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid;
  border-color: #e4e4e4;
}

.screen .background {
  left: -10px;
  position: absolute;
  width: 448px;
  height: 244px;
  top: 1px;
  background-color: #eeeeee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #e4e4e4;
}

.screen .div {
  position: relative;
  width: 435px;
  height: 243px;
  left: 11px;
  background-image: url(../../img/event/benefits/fouilyt7jncmcboni66dljpyxxy7zra7-jpg.png);
  background-size: cover;
  background-position: 50% 50%;
}

.screen .div-wrapper {
  position: absolute;
  width: 448px;
  height: 79px;
  top: 245px;
  left: -10px;
}

.screen .p {
  width: 390px;
  height: 39px;
  top: 19px;
  left: 17px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #222222;
  font-size: 15px;
  line-height: 19.5px;
  position: absolute;
  letter-spacing: 0;
}

.screen .item-link-2 {
  width: 438px;
  top: 903px;
  left: 45px;
  position: absolute;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid;
  border-color: #e4e4e4;
}

.screen .background-2 {
  left: -11px;
  position: absolute;
  width: 448px;
  height: 244px;
  top: 1px;
  background-color: #eeeeee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #e4e4e4;
}

.screen .div-2 {
  position: relative;
  width: 433px;
  height: 243px;
  left: 11px;
  background-image: url(../../img/event/benefits/bkyfypofxuowgzjrofwus23gmhuurbns-jpg.png);
  background-size: cover;
  background-position: 50% 50%;
}

.screen .x-wrapper {
  position: absolute;
  width: 448px;
  height: 60px;
  top: 245px;
  left: -11px;
}

.screen .x {
  position: absolute;
  width: 402px;
  height: 39px;
  top: 19px;
  left: 17px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #222222;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 19.5px;
}

.screen .item-link-3 {
  width: 450px;
  top: 4px;
  left: 592px;
  position: absolute;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid;
  border-color: #e4e4e4;
}

.screen .background-3 {
  position: absolute;
  width: 448px;
  height: 244px;
  top: 1px;
  left: 1px;
  background-color: #eeeeee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #e4e4e4;
}

.screen .div-3 {
  height: 243px;
  background-image: url(../../img/event/benefits/8vzexxasfzzqheadgmjkfhzwosrepayu-jpg.png);
  background-size: cover;
  background-position: 50% 50%;
}

.screen .container-2 {
  position: absolute;
  width: 448px;
  height: 60px;
  top: 245px;
  left: 1px;
}

.screen .text-wrapper-2 {
  width: 396px;
  height: 39px;
  top: 19px;
  left: 17px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #222222;
  font-size: 15px;
  line-height: 19.5px;
  position: absolute;
  letter-spacing: 0;
}

.screen .item-link-4 {
  width: 450px;
  top: 3px;
  left: 1135px;
  position: absolute;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid;
  border-color: #e4e4e4;
}

.screen .div-4 {
  height: 243px;
  background-image: url(../../img/event/benefits/voisdqwdakkqywtol3xvi6lhfoa9xa5h-jpg.png);
  background-size: cover;
  background-position: 50% 50%;
}

.screen .text-wrapper-3 {
  position: absolute;
  width: 395px;
  height: 39px;
  top: 19px;
  left: 17px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #222222;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 19.5px;
}

.screen .item-link-5 {
  width: 432px;
  top: 438px;
  left: 53px;
  position: absolute;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid;
  border-color: #e4e4e4;
}

.screen .background-4 {
  left: -17px;
  position: absolute;
  width: 448px;
  height: 244px;
  top: 1px;
  background-color: #eeeeee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #e4e4e4;
}

.screen .div-5 {
  position: relative;
  width: 427px;
  height: 243px;
  left: 19px;
  background-image: url(../../img/event/benefits/3qjzcmtfwgidslby9ttrlzccukusu2vw-jpg.png);
  background-size: cover;
  background-position: 50% 50%;
}

.screen .container-3 {
  position: absolute;
  width: 448px;
  height: 60px;
  top: 245px;
  left: -17px;
}

.screen .item-link-6 {
  width: 450px;
  top: 438px;
  left: 593px;
  position: absolute;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid;
  border-color: #e4e4e4;
}

.screen .div-6 {
  height: 243px;
  background-image: url(../../img/event/benefits/seevz2dhldtncodrwlcutppuvmcu1q7d-jpg.png);
  background-size: cover;
  background-position: 50% 50%;
}

.screen .text-wrapper-4 {
  position: absolute;
  width: 383px;
  height: 39px;
  top: 19px;
  left: 17px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #222222;
  font-size: 14.4px;
  letter-spacing: 0;
  line-height: 19.5px;
}

.screen .item-link-7 {
  width: 450px;
  top: 438px;
  left: 1134px;
  position: absolute;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid;
  border-color: #e4e4e4;
}

.screen .div-7 {
  height: 243px;
  background-image: url(../../img/event/benefits/haerjhxqqqp9rqz0p0ntskch3gf4mh7s-png.png);
  background-size: cover;
  background-position: 50% 50%;
}

.screen .text-wrapper-5 {
  width: 386px;
  height: 39px;
  top: 19px;
  left: 17px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #222222;
  font-size: 15px;
  line-height: 19.5px;
  position: absolute;
  letter-spacing: 0;
}

.screen .item-link-8 {
  width: 450px;
  top: 903px;
  left: 1090px;
  position: absolute;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid;
  border-color: #e4e4e4;
}

.screen .div-8 {
  height: 243px;
  background-image: url(../../img/event/benefits/avdrqmhajw5tnlabpku01amfbvuvx7gc-jpg.png);
  background-size: cover;
  background-position: 50% 50%;
}

.screen .text-wrapper-6 {
  position: absolute;
  width: 384px;
  height: 39px;
  top: 19px;
  left: 18px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #222222;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 19.5px;
}

.screen .item-link-9 {
  width: 450px;
  top: 904px;
  left: 554px;
  position: absolute;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid;
  border-color: #e4e4e4;
}

.screen .div-9 {
  height: 243px;
  background-image: url(../../img/event/benefits/8oxsofxzakijkynk2xrvnl029bucjxgz-jpg.png);
  background-size: cover;
  background-position: 50% 50%;
}

.screen .text-wrapper-7 {
  position: absolute;
  width: 388px;
  height: 39px;
  top: 19px;
  left: 17px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #222222;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 19.5px;
}

.screen .item-link-10 {
  width: 450px;
  top: 1393px;
  left: 0;
  position: absolute;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid;
  border-color: #e4e4e4;
}

.screen .div-10 {
  height: 243px;
  background-image: url(../../img/event/benefits/qnqacukoplmtygm262yayvmv0tgat4ui-jpg.png);
  background-size: cover;
  background-position: 50% 50%;
}

.screen .text-wrapper-8 {
  position: absolute;
  width: 244px;
  height: 19px;
  top: 40px;
  left: 26px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #222222;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 19.5px;
  white-space: nowrap;
}

.screen .overlap {
  position: absolute;
  width: 1920px;
  height: 98px;
  top: 0;
  left: 0;
}

.screen .overlay {
  position: absolute;
  width: 1920px;
  height: 91px;
  top: 3px;
  left: 0;
}

.screen .navbar {
  position: absolute;
  width: 1920px;
  height: 98px;
  top: 0;
  left: 0;
  background-color: #00000080;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #ffffff33;
}

.screen .link {
  position: absolute;
  width: 46px;
  height: 20px;
  top: 15px;
  left: 1464px;
}

.screen .text-wrapper-9 {
  position: absolute;
  width: 47px;
  height: 20px;
  top: -1px;
  left: 0;
  font-family: "ABeeZee", Helvetica;
  font-weight: 400;
  color: #888888;
  font-size: 11.6px;
  letter-spacing: 0;
  line-height: 19.5px;
  white-space: nowrap;
}

.screen .link-2 {
  position: absolute;
  width: 46px;
  height: 20px;
  top: 15px;
  left: 486px;
}

.screen .link-3 {
  position: absolute;
  width: 35px;
  height: 20px;
  top: 15px;
  left: 1399px;
}

.screen .text-wrapper-10 {
  width: 35px;
  height: 20px;
  top: -1px;
  left: 0;
  font-family: "ABeeZee", Helvetica;
  font-weight: 400;
  color: #888888;
  font-size: 11.6px;
  line-height: 19.5px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.screen .text-wrapper-11 {
  width: 35px;
  height: 20px;
  top: 14px;
  left: 1334px;
  font-family: "ABeeZee", Helvetica;
  color: #888888;
  font-size: 11.6px;
  line-height: 19.5px;
  white-space: nowrap;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.screen .link-4 {
  position: absolute;
  width: 46px;
  height: 20px;
  top: 14px;
  left: 410px;
}

.screen .img {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 42px;
  left: 450px;
}

.screen .link-5 {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 42px;
  left: 1434px;
}

.screen .link-6 {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 42px;
  left: 1474px;
}

.screen .text-wrapper-12 {
  width: 48px;
  top: 30px;
  left: 755px;
  -webkit-text-stroke: 1px #ffffff;
  font-family: "Kokoro-Regular", Helvetica;
  color: transparent;
  font-size: 18px;
  text-align: center;
  line-height: 22.5px;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.screen .text-wrapper-13 {
  position: absolute;
  width: 48px;
  top: 30px;
  left: 655px;
  -webkit-text-stroke: 1px #ffffff;
  font-family: "Kokoro-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22.5px;
}

.screen .text-wrapper-14 {
  left: 1117px;
  position: absolute;
  width: 56px;
  top: 30px;
  -webkit-text-stroke: 1px #ffffff;
  font-family: "Kokoro-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22.5px;
}

.screen .text-wrapper-15 {
  left: 1225px;
  position: absolute;
  width: 56px;
  top: 30px;
  -webkit-text-stroke: 1px #ffffff;
  font-family: "Kokoro-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22.5px;
}

.screen .heading-link {
  position: absolute;
  width: 186px;
  height: 92px;
  top: -1px;
  left: 867px;
}

.screen .link-7 {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 42px;
  left: 410px;
  background-image: url(../../img/event/benefits/link-3.png);
  background-size: 100% 100%;
}

.screen .footer {
  position: absolute;
  width: 1920px;
  height: 223px;
  top: 2292px;
  left: 0;
  object-fit: cover;
}
