.div-wrapper {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.div-wrapper .container-wrapper {
  background-color: #ffffff;
  width: 1920px;
  height: 1720px;
}

.div-wrapper .container {
  position: relative;
  height: 1720px;
}

.div-wrapper .frame {
  position: absolute;
  width: 1920px;
  height: 98px;
  top: 0;
  left: 0;
  background-image: url(../../img/serviceCenter/noticedetail/overlay.svg);
  background-size: 100% 100%;
}

.div-wrapper .navbar {
  position: relative;
  height: 98px;
  background-color: #00000080;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #ffffff33;
}

.div-wrapper .link {
  position: absolute;
  width: 46px;
  height: 20px;
  top: 15px;
  left: 1464px;
}

.div-wrapper .text-wrapper {
  width: 47px;
  height: 20px;
  top: -1px;
  left: 0;
  font-family: "ABeeZee", Helvetica;
  color: #888888;
  font-size: 11.6px;
  letter-spacing: 0;
  line-height: 19.5px;
  position: absolute;
  font-weight: 400;
  white-space: nowrap;
}

.div-wrapper .div {
  position: absolute;
  width: 46px;
  height: 20px;
  top: 15px;
  left: 486px;
}

.div-wrapper .link-2 {
  position: absolute;
  width: 35px;
  height: 20px;
  top: 15px;
  left: 1399px;
}

.div-wrapper .text-wrapper-2 {
  width: 35px;
  height: 20px;
  top: -1px;
  left: 0;
  font-family: "ABeeZee", Helvetica;
  color: #888888;
  font-size: 11.6px;
  letter-spacing: 0;
  line-height: 19.5px;
  position: absolute;
  font-weight: 400;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-3 {
  width: 35px;
  height: 20px;
  top: 14px;
  left: 1334px;
  font-family: "ABeeZee", Helvetica;
  color: #888888;
  font-size: 11.6px;
  line-height: 19.5px;
  white-space: nowrap;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.div-wrapper .link-3 {
  position: absolute;
  width: 46px;
  height: 20px;
  top: 14px;
  left: 410px;
}

.div-wrapper .img {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 42px;
  left: 450px;
}

.div-wrapper .link-4 {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 42px;
  left: 1434px;
}

.div-wrapper .link-5 {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 42px;
  left: 1474px;
}

.div-wrapper .text-wrapper-4 {
  width: 48px;
  top: 30px;
  left: 755px;
  -webkit-text-stroke: 1px #ffffff;
  font-family: "Kokoro-Regular", Helvetica;
  color: transparent;
  font-size: 18px;
  text-align: center;
  line-height: 22.5px;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.div-wrapper .text-wrapper-5 {
  position: absolute;
  width: 48px;
  top: 30px;
  left: 655px;
  -webkit-text-stroke: 1px #ffffff;
  font-family: "Kokoro-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22.5px;
}

.div-wrapper .text-wrapper-6 {
  left: 1117px;
  position: absolute;
  width: 56px;
  top: 30px;
  -webkit-text-stroke: 1px #ffffff;
  font-family: "Kokoro-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22.5px;
}

.div-wrapper .text-wrapper-7 {
  left: 1225px;
  position: absolute;
  width: 56px;
  top: 30px;
  -webkit-text-stroke: 1px #ffffff;
  font-family: "Kokoro-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22.5px;
}

.div-wrapper .heading-link {
  position: absolute;
  width: 186px;
  height: 92px;
  top: -1px;
  left: 867px;
}

.div-wrapper .link-6 {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 42px;
  left: 410px;
  background-image: url(../../img/serviceCenter/noticedetail/link-3.png);
  background-size: 100% 100%;
}

.div-wrapper .heading {
  position: absolute;
  width: 308px;
  height: 31px;
  top: 239px;
  left: 609px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #222222;
  font-size: 40px;
  letter-spacing: -1px;
  line-height: 30.8px;
  white-space: nowrap;
}

.div-wrapper .background {
  position: absolute;
  width: 252px;
  height: 536px;
  top: 240px;
  left: 302px;
  background-color: #ffffff;
  border-radius: 30px 30px 10px 10px;
}

.div-wrapper .overlap {
  position: relative;
  height: 536px;
}

.div-wrapper .link-7 {
  position: absolute;
  width: 252px;
  height: 90px;
  top: 0;
  left: 0;
  background-color: #0e202a;
  border-radius: 30px 30px 0px 0px;
  overflow: hidden;
  border: 1px solid;
  border-color: #d8d9db;
}

.div-wrapper .text-wrapper-8 {
  width: 64px;
  height: 90px;
  top: -1px;
  left: 94px;
  font-family: "Inter", Helvetica;
  color: #d3c3b9;
  font-size: 17.4px;
  text-align: center;
  letter-spacing: 0;
  line-height: 90px;
  position: absolute;
  font-weight: 400;
  white-space: nowrap;
}

.div-wrapper .list {
  position: absolute;
  width: 252px;
  height: 448px;
  top: 89px;
  left: 0;
  border-radius: 0px 0px 10px 10px;
  border: 1px solid;
  border-color: #d8d9db;
}

.div-wrapper .overlap-group {
  position: relative;
  height: 227px;
}

.div-wrapper .item-link {
  position: absolute;
  width: 252px;
  height: 39px;
  top: 0;
  left: 0;
  background-color: #3d4d55;
  border: 1px solid;
  border-color: #d8d9db;
}

.div-wrapper .text-wrapper-9 {
  width: 88px;
  height: 21px;
  top: 8px;
  left: 12px;
  font-family: "Inter", Helvetica;
  color: #b58863;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 19.5px;
  position: absolute;
  font-weight: 400;
  white-space: nowrap;
}

.div-wrapper .item-link-2 {
  top: 38px;
  background-color: #3d4d55;
  position: absolute;
  width: 252px;
  height: 39px;
  left: 0;
  border: 1px solid;
  border-color: #d8d9db;
}

.div-wrapper .text-wrapper-10 {
  width: 88px;
  height: 21px;
  top: 8px;
  left: 12px;
  font-family: "Inter", Helvetica;
  color: #b58863;
  font-size: 14.3px;
  letter-spacing: 0;
  line-height: 19.5px;
  position: absolute;
  font-weight: 400;
  white-space: nowrap;
}

.div-wrapper .link-8 {
  position: absolute;
  width: 252px;
  height: 37px;
  top: 152px;
  left: 0;
  background-color: #3d4d55;
  border: 1px solid;
  border-color: #d8d9db;
}

.div-wrapper .text-wrapper-11 {
  width: 76px;
  height: 19px;
  top: 9px;
  left: 12px;
  font-family: "Inter", Helvetica;
  color: #b58863;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 19.5px;
  position: absolute;
  font-weight: 400;
  white-space: nowrap;
}

.div-wrapper .link-9 {
  position: absolute;
  width: 252px;
  height: 39px;
  top: 152px;
  left: 0;
  background-color: #3d4d55;
  border: 1px solid;
  border-color: #d8d9db;
}

.div-wrapper .item-link-3 {
  top: 76px;
  background-image: url(../../img/serviceCenter/noticedetail/item-link.svg);
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  width: 252px;
  height: 39px;
  left: 0;
  border: 1px solid;
  border-color: #d8d9db;
  display: block;
}

.div-wrapper .text-wrapper-12 {
  width: 64px;
  height: 19px;
  top: 8px;
  left: 11px;
  -webkit-text-stroke: 1px #b58863;
  font-family: "Inter", Helvetica;
  color: #b58863;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 19.5px;
  position: absolute;
  font-weight: 400;
  white-space: nowrap;
}

.text-wrapper-12 a {
    display: block; /* 링크 영역 확장 */
    width: 100%; /* 링크 영역 넓이 */
    height: 100%; /* 링크 영역 높이 */
}



.div-wrapper .link-10 {
  position: absolute;
  width: 252px;
  height: 39px;
  top: 114px;
  left: 0;
  background-color: #3d4d55;
  border: 1px solid;
  border-color: #d8d9db;
}

.div-wrapper .text-wrapper-13 {
  width: 49px;
  height: 20px;
  top: 9px;
  left: 12px;
  font-family: "Inter", Helvetica;
  color: #b58863;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 19.5px;
  position: absolute;
  font-weight: 400;
  white-space: nowrap;
}

.div-wrapper .horizontal-border {
  position: absolute;
  width: 1126px;
  height: 831px;
  top: 367px;
  left: 610px;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #555555;
}

.div-wrapper .table-body {
  position: relative;
  width: 840px;
  height: 724px;
  top: 54px;
}

.div-wrapper .row {
  width: 1185px;
  height: 50px;
  top: -52px;
  position: absolute;
  left: 0;
}

.div-wrapper .cell {
  height: 50px;
  top: 0;
  border-color: #d1d5dd;
  position: absolute;
  width: 158px;
  left: 0;
  background-color: #f7f8f9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.div-wrapper .label {
  width: 133px;
  height: 23px;
  top: 12px;
  font-size: 12.9px;
  position: absolute;
  left: 15px;
  font-family: "ABeeZee", Helvetica;
  font-weight: 400;
  color: transparent;
  letter-spacing: 0;
  line-height: 22.5px;
  white-space: nowrap;
}

.div-wrapper .span {
  color: #444444;
}

.div-wrapper .text-wrapper-14 {
  color: #e63e30;
}

.div-wrapper .input-wrapper {
  position: absolute;
  width: 968px;
  height: 50px;
  top: 0;
  left: 158px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #d1d5dd;
}

.div-wrapper .input {
  width: 933px;
  top: 8px;
  left: 15px;
  position: relative;
  height: 32px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #d8d9db;
  padding-top: 5px;
  padding-left: 10px;
}

.div-wrapper .row-2 {
  width: 1125px;
  height: 50px;
  top: -2px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #d1d5dd;
  position: absolute;
  left: 0;
}

.div-wrapper .p {
  width: 47px;
  height: 23px;
  top: 12px;
  font-size: 12.7px;
  position: absolute;
  left: 15px;
  font-family: "ABeeZee", Helvetica;
  font-weight: 400;
  color: transparent;
  letter-spacing: 0;
  line-height: 22.5px;
  white-space: nowrap;
}

.div-wrapper .data {
  width: 800px;
  height: 50px;
  top: 0;
  left: 325px;
  border-color: #d1d5dd;
  position: absolute;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.div-wrapper .input-2 {
  width: 934px;
  top: 9px;
  left: -151px;
  position: relative;
  height: 32px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #d8d9db;
  padding-top: 5px;
  padding-left: 10px;
}

.div-wrapper .row-3 {
  width: 1125px;
  height: 475px;
  top: 98px;
  position: absolute;
  left: 0;
}

.div-wrapper .label-wrapper {
  height: 450px;
  top: -49px;
  border-color: #555555;
  position: absolute;
  width: 158px;
  left: 0;
  background-color: #f7f8f9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.div-wrapper .label-2 {
  width: 37px;
  height: 22px;
  top: 212px;
  font-size: 12.7px;
  position: absolute;
  left: 15px;
  font-family: "ABeeZee", Helvetica;
  font-weight: 400;
  color: transparent;
  letter-spacing: 0;
  line-height: 22.5px;
  white-space: nowrap;
}

.div-wrapper .border-wrapper {
  width: 967px;
  height: 450px;
  top: -49px;
  left: 158px;
  border-color: #555555;
  position: absolute;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.div-wrapper .border {
  position: relative;
  width: 936px;
  height: 432px;
  top: 7px;
  left: 15px;
  border: 1px solid;
  border-color: #d8d9db;
}

.div-wrapper .textarea {
  position: absolute;
  width: 920px;
  height: 400px;
  top: 10px;
  left: 10px;
  background-color: #ffffff;
}

.div-wrapper .container-2 {
  position: absolute;
  width: 934px;
  height: 41px;
  top: 390px;
}

.div-wrapper .text-wrapper-15 {
  width: 61px;
  height: 21px;
  top: 9px;
  left: 870px;
  font-family: "ABeeZee", Helvetica;
  color: #444444;
  font-size: 13.3px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  font-weight: 400;
  white-space: nowrap;
}

.div-wrapper .button {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  width: 126px;
  height: 48px;
  top: 599px;
  left: 499px;
  background-color: #01738b;
  border-radius: 4px;
  border: 1px solid;
  border-color: #01738b;
}

.div-wrapper .text-wrapper-16 {
  width: 126px;
  height: 46px;
  top: 0;
  font-family: "ABeeZee", Helvetica;
  color: #0e202a;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.5px;
  line-height: 46px;
  position: absolute;
  font-weight: 400;
  white-space: nowrap;
}

.text-wrapper-16 a {
  text-decoration: none;
  width: 126px;
  height: 46px;
  top: 0;
  left: 35px;
  font-family: "ABeeZee", Helvetica;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.5px;
  line-height: 46px;
  font-weight: 400;
  white-space: nowrap;
  display: block;
}
