.footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1920px;
    width: 100%;
    height: 200px;
    background-color: #f8f8fa;
}

.footer .footer-wrapper {
    position: absolute;
    width: 100%;
    max-width: 1100px;
    height: 90px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.footer .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 681px;
    height: 30px;
    margin-top: 30px;
}

.footer .text-wrapper {
    width: 47px;
    font-size: 11.6px;
    font-family: "Dotum-Regular", Helvetica;
    font-weight: 400;
    color: #666666;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.footer .div {
    width: 47px;
    font-size: 11.6px;
    font-family: "Dotum-Regular", Helvetica;
    font-weight: 400;
    color: #666666;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.footer .text-wrapper-2 {
    width: 47px;
    font-size: 11.6px;
    font-family: "Dotum-Regular", Helvetica;
    font-weight: 400;
    color: #666666;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.footer .text-wrapper-3 {
    width: 128px;
    font-size: 11.8px;
    font-family: "Dotum-Regular", Helvetica;
    font-weight: 400;
    color: #666666;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.footer .item-link {
    width: 46px;
    height: 30px;
}

.footer .div-wrapper {
    width: 130px;
    position: relative;
    height: 30px;
}

.footer .text-wrapper-4 {
    width: 131px;
    color: #666666;
    font-size: 11.5px;
    font-family: "Dotum-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.footer .item-link-2 {
    width: 93px;
    height: 30px;
}

.footer .text-wrapper-5 {
    width: 93px;
    color: #222222;
    font-size: 11.6px;
    font-family: "Dotum-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.footer .item-link-3 {
    width: 46px;
    height: 30px;
}

.footer .footer-wrapper-2 {
    position: relative;
    width: 100%;
    max-width: 1136px;
    height: 59px;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .image {
    width: 150px;
    height: 50px;
    background-image: url(../img/main_img/omakase_1.png);
    background-size: cover;
    background-position: 50% 50%;
}

.footer .address {
    width: 754px;
    height: 58px;
    font-family: "Dotum-Regular", Helvetica;
    font-weight: 400;
    color: #444444;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 19.5px;
}

.footer .image-2 {
    width: 30px;
    height: 30px;
    background-image: url(../img/main_img/youtube.png);
    background-size: cover;
    background-position: 50% 50%;
}

.footer .image-3 {
    width: 30px;
    height: 30px;
    background-image: url(../img/main_img/instar.png);
    background-size: cover;
    background-position: 50% 50%;
}

.footer .image-4 {
    width: 30px;
    height: 30px;
    background-image: url(../img/main_img/facebook.png);
    background-size: cover;
    background-position: 50% 50%;
}

.footer .image-5 {
    width: 30px;
    height: 30px;
    background-image: url(../img/main_img/twitter.png);
    background-size: cover;
    background-position: 50% 50%;
}
