.div-wrapper {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.div-wrapper .overlap-wrapper {
  background-color: #ffffff;
  width: 1903px;
  height: 1286px;
}

.div-wrapper .overlap {
  position: relative;
  height: 1286px;
}

.div-wrapper .div-con-wrap {
  position: absolute;
  width: 1694px;
  height: 1282px;
  top: 0;
  left: 209px;
}

.div-wrapper .frame {
  position: absolute;
  width: 145px;
  height: 34px;
  top: 48px;
  left: 1495px;
}

.div-wrapper .span-name {
  position: absolute;
  width: 14px;
  height: 23px;
  top: 6px;
  left: 0;
  background-image: url(./img/adminNotice/span-name.png);
  background-size: cover;
  background-position: 50% 50%;
}

.div-wrapper .text-wrapper {
  position: absolute;
  height: 23px;
  top: 5px;
  left: 14px;
  font-family: "Noto Sans KR", Helvetica;
  font-weight: 300;
  color: #888888;
  font-size: 15px;
  letter-spacing: -0.5px;
  line-height: 22.5px;
  white-space: nowrap;
}

.div-wrapper .list {
  display: inline-flex;
  align-items: flex-start;
  gap: 3.6px;
  position: absolute;
  top: 0;
  left: 76px;
}

.div-wrapper .item {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.div-wrapper .link {
  display: inline-flex;
  flex-direction: column;
  height: 34px;
  align-items: flex-start;
  padding: 0px 7.2px 0px 8px;
  position: relative;
  flex: 0 0 auto;
}

.div-wrapper .div {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Noto Sans KR", Helvetica;
  font-weight: 300;
  color: #767676;
  font-size: 15px;
  letter-spacing: -0.5px;
  line-height: 34px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.div-wrapper .pseudo {
  position: absolute;
  width: 1px;
  height: 11px;
  top: 12px;
  left: -2px;
  background-color: #888888;
}

.div-wrapper .overlap-group {
  position: absolute;
  width: 1300px;
  height: 598px;
  top: 536px;
  left: 195px;
}

.div-wrapper .table {
  position: absolute;
  width: 1300px;
  height: 576px;
  top: 0;
  left: 0;
}

.div-wrapper .header-row {
  position: absolute;
  width: 1300px;
  height: 45px;
  top: -8px;
  left: 1px;
}

.div-wrapper .overlap-group-2 {
  position: absolute;
  width: 340px;
  height: 46px;
  top: 0;
  left: 0;
}

.div-wrapper .cell {
  position: absolute;
  width: 240px;
  height: 45px;
  top: 0;
  left: 100px;
  background-color: #f2f4f5;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #eaeaea;
}

.div-wrapper .text-wrapper-2 {
  position: absolute;
  width: 67px;
  height: 20px;
  top: 12px;
  left: 86px;
  font-family: "ABeeZee", Helvetica;
  font-weight: 400;
  color: #222222;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.5px;
  white-space: nowrap;
}

.div-wrapper .cell-2 {
  width: 100px;
  height: 45px;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #f2f4f5;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #eaeaea;
}

.div-wrapper .text-wrapper-3 {
  position: absolute;
  width: 30px;
  height: 20px;
  top: 12px;
  left: 37px;
  font-family: "ABeeZee", Helvetica;
  font-weight: 400;
  color: #222222;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.5px;
  white-space: nowrap;
}

.div-wrapper .cell-3 {
  width: 720px;
  height: 45px;
  top: 0;
  left: 340px;
  position: absolute;
  background-color: #f2f4f5;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #eaeaea;
}

.div-wrapper .text-wrapper-4 {
  position: absolute;
  width: 55px;
  height: 20px;
  top: 12px;
  left: 333px;
  font-family: "ABeeZee", Helvetica;
  font-weight: 400;
  color: #222222;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.5px;
  white-space: nowrap;
}

.div-wrapper .cell-4 {
  width: 240px;
  height: 45px;
  top: 0;
  left: 1060px;
  position: absolute;
  background-color: #f2f4f5;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #eaeaea;
}

.div-wrapper .text-wrapper-5 {
  position: absolute;
  width: 55px;
  height: 20px;
  top: 12px;
  left: 92px;
  font-family: "ABeeZee", Helvetica;
  font-weight: 400;
  color: #222222;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.5px;
  white-space: nowrap;
}

.div-wrapper .body {
  position: absolute;
  width: 1300px;
  height: 513px;
  top: 38px;
  left: 1px;
}

.div-wrapper .row {
  position: absolute;
  width: 1300px;
  height: 50px;
  top: 0;
  left: 1px;
}

.div-wrapper .overlap-group-3 {
  position: absolute;
  width: 962px;
  height: 40px;
  top: 0;
  left: 98px;
}

.div-wrapper .data {
  position: absolute;
  width: 240px;
  height: 40px;
  top: 0;
  left: 0;
  border-right-width: 1px;
  border-right-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #eaeaea;
}

.div-wrapper .text-wrapper-6 {
  position: absolute;
  width: 70px;
  height: 20px;
  top: 9px;
  left: 85px;
  font-family: "ABeeZee", Helvetica;
  font-weight: 400;
  color: #444444;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.5px;
  white-space: nowrap;
}

.div-wrapper .data-2 {
  width: 722px;
  left: 240px;
  position: absolute;
  height: 40px;
  top: 0;
  border-right-width: 1px;
  border-right-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #eaeaea;
}

.div-wrapper .text-wrapper-7 {
  position: absolute;
  width: 108px;
  height: 20px;
  top: 9px;
  left: 307px;
  font-family: "ABeeZee", Helvetica;
  font-weight: 400;
  color: #444444;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.5px;
  white-space: nowrap;
}

.div-wrapper .rectangle-wrapper {
  width: 100px;
  left: -2px;
  position: absolute;
  height: 40px;
  top: 0;
  border-right-width: 1px;
  border-right-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #eaeaea;
}

.div-wrapper .rectangle {
  position: relative;
  width: 15px;
  height: 15px;
  top: 12px;
  left: 42px;
  background-color: #d9d9d9;
  border: 1px solid;
  border-color: #000000;
}

.div-wrapper .data-3 {
  width: 240px;
  left: 1060px;
  position: absolute;
  height: 40px;
  top: 0;
  border-right-width: 1px;
  border-right-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #eaeaea;
}

.div-wrapper .text-wrapper-8 {
  position: absolute;
  width: 92px;
  height: 20px;
  top: 9px;
  left: 74px;
  font-family: "ABeeZee", Helvetica;
  font-weight: 400;
  color: #444444;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.5px;
  white-space: nowrap;
}

.div-wrapper .row-2 {
  top: 50px;
  position: absolute;
  width: 1300px;
  height: 50px;
  left: 0;
}

.div-wrapper .row-3 {
  top: 100px;
  position: absolute;
  width: 1300px;
  height: 50px;
  left: 0;
}

.div-wrapper .row-4 {
  top: 152px;
  position: absolute;
  width: 1300px;
  height: 50px;
  left: 0;
}

.div-wrapper .row-5 {
  top: 202px;
  position: absolute;
  width: 1300px;
  height: 50px;
  left: 0;
}

.div-wrapper .row-6 {
  top: 254px;
  position: absolute;
  width: 1300px;
  height: 50px;
  left: 0;
}

.div-wrapper .row-7 {
  top: 304px;
  position: absolute;
  width: 1300px;
  height: 50px;
  left: 0;
}

.div-wrapper .row-8 {
  top: 356px;
  position: absolute;
  width: 1300px;
  height: 50px;
  left: 0;
}

.div-wrapper .row-9 {
  top: 406px;
  position: absolute;
  width: 1300px;
  height: 50px;
  left: 0;
}

.div-wrapper .row-10 {
  top: 458px;
  position: absolute;
  width: 1300px;
  height: 50px;
  left: 0;
}

.div-wrapper .frame-2 {
  position: absolute;
  width: 436px;
  height: 33px;
  top: 564px;
  left: 399px;
}

.div-wrapper .strong {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 1px;
  left: 41px;
  background-color: #01738b;
  border-radius: 4px;
  border: 1px solid;
}

.div-wrapper .text-wrapper-9 {
  width: 9px;
  left: 12px;
  color: #ffffff;
  position: absolute;
  height: 30px;
  top: 0;
  font-family: "ABeeZee", Helvetica;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.div-wrapper .link-2 {
  width: 32px;
  top: 1px;
  left: 77px;
  border: 1px solid;
  border-color: #ebebeb;
  position: absolute;
  height: 32px;
  border-radius: 4px;
}

.div-wrapper .text-wrapper-10 {
  width: 9px;
  left: 12px;
  color: #333333;
  position: absolute;
  height: 30px;
  top: 0;
  font-family: "ABeeZee", Helvetica;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.div-wrapper .link-3 {
  width: 32px;
  top: 1px;
  left: 112px;
  border: 1px solid;
  border-color: #ebebeb;
  position: absolute;
  height: 32px;
  border-radius: 4px;
}

.div-wrapper .link-4 {
  width: 32px;
  top: 1px;
  left: 147px;
  border: 1px solid;
  border-color: #ebebeb;
  position: absolute;
  height: 32px;
  border-radius: 4px;
}

.div-wrapper .link-5 {
  width: 32px;
  top: 1px;
  left: 183px;
  border: 1px solid;
  border-color: #ebebeb;
  position: absolute;
  height: 32px;
  border-radius: 4px;
}

.div-wrapper .link-6 {
  width: 32px;
  top: 1px;
  left: 218px;
  border: 1px solid;
  border-color: #ebebeb;
  position: absolute;
  height: 32px;
  border-radius: 4px;
}

.div-wrapper .link-7 {
  width: 32px;
  top: 1px;
  left: 253px;
  border: 1px solid;
  border-color: #ebebeb;
  position: absolute;
  height: 32px;
  border-radius: 4px;
}

.div-wrapper .link-8 {
  width: 32px;
  top: 1px;
  left: 289px;
  border: 1px solid;
  border-color: #ebebeb;
  position: absolute;
  height: 32px;
  border-radius: 4px;
}

.div-wrapper .link-9 {
  width: 32px;
  top: 1px;
  left: 324px;
  border: 1px solid;
  border-color: #ebebeb;
  position: absolute;
  height: 32px;
  border-radius: 4px;
}

.div-wrapper .link-10 {
  width: 36px;
  top: 1px;
  left: 360px;
  border: 1px solid;
  border-color: #ebebeb;
  position: absolute;
  height: 32px;
  border-radius: 4px;
}

.div-wrapper .text-wrapper-11 {
  width: 35px;
  left: 0;
  color: #333333;
  position: absolute;
  height: 30px;
  top: 0;
  font-family: "ABeeZee", Helvetica;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.div-wrapper .link-11 {
  width: 37px;
  top: 0;
  left: 0;
  transform: rotate(-179.79deg);
  background-image: url(./img/adminNotice/link.png);
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  height: 32px;
  border-radius: 4px;
}

.div-wrapper .link-12 {
  width: 37px;
  top: 1px;
  left: 399px;
  background-image: url(./img/adminNotice/link-1.png);
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  height: 32px;
  border-radius: 4px;
}

.div-wrapper .button {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  width: 118px;
  height: 35px;
  top: 398px;
  left: 1008px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid;
  border-color: #666666;
}

.div-wrapper .container {
  position: absolute;
  width: 77px;
  height: 34px;
  top: 1px;
  left: 10px;
}

.div-wrapper .text-wrapper-12 {
  position: absolute;
  width: 117px;
  height: 35px;
  top: 0px;
  left: 0px;
  font-family: "ABeeZee", Helvetica;
  font-weight: 400;
  color: #999999;
  font-size: 13.1px;
  letter-spacing: -0.5px;
  line-height: 34px;
  white-space: nowrap;
}

.div-wrapper .image {
  position: absolute;
  width: 10px;
  height: 5px;
  top: 16px;
  left: 95px;
}

.div-wrapper .border {
  position: absolute;
  width: 300px;
  height: 36px;
  top: 397px;
  left: 1134px;
  border-radius: 3px;
  border: 1px solid;
  border-color: #d8d9db;
}

.div-wrapper .input {
  position: absolute;
  width: 300px;
  height: 34px;
  top: 1px;
  left: 1px;
  background-color: #ffffff;
}

.div-wrapper .container-2 {
  position: relative;
  width: 301px;
  height: 34px;
  top: 0px;
  left: 0px;
}

.div-wrapper .text-wrapper-13 {
  position: absolute;
  width: 260px;
  height: 34px;
  top: 0px;
  left: 0;
  font-family: "ABeeZee", Helvetica;
  font-weight: 400;
  color: #888888;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .button-2 {
  position: absolute;
  width: 50px;
  height: 36px;
  top: 0px;
  left: 270px;
  background-image: url(./img/button.svg);
  background-size: cover;
  background-position: 50% 50%;
}

.div-wrapper .cell-5 {
  width: 55px;
  height: 40px;
  top: 397px;
  left: 196px;
  border-radius: 5px;
  position: absolute;
  background-color: #f2f4f5;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #eaeaea;
}

.div-wrapper .text-wrapper-14 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 12px;
  left: 2px;
  font-family: "ABeeZee", Helvetica;
  font-weight: 400;
  color: #222222;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.5px;
  white-space: nowrap;
}

.div-wrapper .cell-6 {
  width: 55px;
  height: 40px;
  top: 397px;
  left: 278px;
  border-radius: 5px;
  position: absolute;
  background-color: #f2f4f5;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #eaeaea;
}

.div-wrapper .text-wrapper-15 {
  position: absolute;
  width: 123px;
  height: 50px;
  top: -1px;
  left: 104px;
  font-family: "Noto Sans KR", Helvetica;
  font-weight: 300;
  color: #7f7f7f;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: 50px;
  white-space: nowrap;
}
.div-wrapper .element {
  position: absolute;
  width: 330px;
  height: 50px;
  top: 278px;
  left: 845px;
  background-color: #ffffff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #cccccc;
}

.div-wrapper .view {
  position: absolute;
  width: 330px;
  height: 50px;
  top: 278px;
  left: 515px;
  background-color: #ffffff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #cccccc;
}

.div-wrapper .view-3 {
  left: 185px;
  border-color: #000000;
  position: absolute;
  width: 330px;
  height: 50px;
  top: 278px;
  background-color: #ffffff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.div-wrapper .text-wrapper-16 {
  position: absolute;
  width: 185px;
  height: 50px;
  top: -1px;
  left: 73px;
  font-family: "Noto Sans KR", Helvetica;
  font-weight: 300;
  color: #7f7f7f;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: 50px;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-17 {
  position: absolute;
  width: 151px;
  height: 50px;
  top: -1px;
  left: 90px;
  font-family: "Noto Sans KR", Helvetica;
  font-weight: 300;
  color: #7f7f7f;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: 50px;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-18 {
  position: absolute;
  width: 125px;
  height: 50px;
  top: -1px;
  left: 103px;
  font-family: "Noto Sans KR", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: 50px;
  white-space: nowrap;
}

.div-wrapper .heading {
  position: absolute;
  height: 31px;
  top: 169px;
  left: 380px;
  font-family: "Noto Sans KR", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 40px;
  letter-spacing: -1px;
  line-height: 30.8px;
  white-space: nowrap;
}

.div-wrapper .div-sidebar {
  display: flex;
  flex-direction: column;
  width: 210px;
  height: 1286px;
  align-items: center;
  gap: 23px;
  padding: 13px 0px 1082px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #3d4d55;
}

.div-wrapper .img {
  position: relative;
  width: 199px;
  height: 112px;
  object-fit: cover;
}

.div-wrapper .text-wrapper-19 {
  position: relative;
  width: 153px;
  height: 24.2px;
  font-family: "Noto Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24.2px;
  white-space: nowrap;
}

.div-wrapper .list-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-bottom: -231.2px;
}

.div-wrapper .item-link {
  padding: 0px 117px 0px 28px;
  background-color: #3d4d55;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.div-wrapper .text-wrapper-20 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Noto Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: -0.5px;
  line-height: 60px;
  white-space: nowrap;
}

.div-wrapper .item-link-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 81px 0px 28px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.div-wrapper .text-wrapper-21 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-right: -23px;
  font-family: "Noto Sans KR", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: -0.5px;
  line-height: 60px;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-22 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Noto Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: -0.5px;
  line-height: 60px;
  white-space: nowrap;
}

.div-wrapper .item-link-3 {
  padding: 0px 81px 0px 28px;
  background-color: #d3c3b9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}
.bar{
    position: absolute;
    left: 156px;
}

.div-wrapper .text-wrapper-23 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Noto Sans", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: -0.5px;
  line-height: 60px;
  white-space: nowrap;
}

.select-wrapper select {
  width: 100%;
  height: 100%;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
  appearance: none;
}

.div-wrapper .text-wrapper-24 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  font-family: "ABeeZee", Helvetica;
  font-weight: 400;
  color: #222222;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.5px;
  white-space: nowrap;
}

a {
    text-decoration: none;
    color: #ffffff;
}