.element {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.element .overlap-wrapper {
  background-color: #ffffff;
  width: 1903px;
  height: 1286px;
}

.element .overlap {
  position: relative;
  height: 1286px;
}

.element .div-con-wrap {
  position: absolute;
  width: 1694px;
  height: 1282px;
  top: 0;
  left: 209px;
}

.element .frame {
  position: absolute;
  width: 145px;
  height: 34px;
  top: 48px;
  left: 1495px;
}

.element .span-name {
  position: absolute;
  width: 14px;
  height: 23px;
  top: 6px;
  left: 0;
  background-image: url(./img/span-name.png);
  background-size: cover;
  background-position: 50% 50%;
}

.element .text-wrapper {
  position: absolute;
  height: 23px;
  top: 5px;
  left: 14px;
  font-family: "Noto Sans KR", Helvetica;
  font-weight: 300;
  color: #888888;
  font-size: 15px;
  letter-spacing: -0.5px;
  line-height: 22.5px;
  white-space: nowrap;
}

.element .list {
  display: inline-flex;
  align-items: flex-start;
  gap: 3.6px;
  position: absolute;
  top: 0;
  left: 76px;
}

.element .item {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.element .link {
  display: inline-flex;
  flex-direction: column;
  height: 34px;
  align-items: flex-start;
  padding: 0px 7.2px 0px 8px;
  position: relative;
  flex: 0 0 auto;
}

.element .div {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Noto Sans KR", Helvetica;
  font-weight: 300;
  color: #767676;
  font-size: 15px;
  letter-spacing: -0.5px;
  line-height: 34px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.element .pseudo {
  position: absolute;
  width: 1px;
  height: 11px;
  top: 12px;
  left: -2px;
  background-color: #888888;
}

.element .heading {
  position: absolute;
  height: 31px;
  top: 239px;
  left: 185px;
  font-family: "Noto Sans KR", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 40px;
  letter-spacing: -1px;
  line-height: 30.8px;
  white-space: nowrap;
}

.element .div-wrapper {
  position: absolute;
  width: 138px;
  height: 52px;
  top: 1079px;
  left: 633px;
  background-color: #0e202a;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid;
}

.element .text-wrapper-2 {
  position: absolute;
  width: 27px;
  height: 22px;
  top: 14px;
  left: 56px;
  font-family: "Noto Sans KR", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: -0.36px;
  line-height: 16.5px;
}

.element .frame-2 {
  position: absolute;
  width: 138px;
  height: 52px;
  top: 1079px;
  left: 922px;
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid;
  border-color: #595959;
}

.element .text-wrapper-3 {
  position: absolute;
  width: 26px;
  height: 22px;
  top: 14px;
  left: 56px;
  font-family: "Noto Sans KR", Helvetica;
  font-weight: 500;
  color: #414141;
  font-size: 14px;
  letter-spacing: -0.36px;
  line-height: 16.5px;
}

.element .row {
  position: absolute;
  width: 1185px;
  height: 50px;
  top: 346px;
  left: 252px;
}

.element .cell {
  position: absolute;
  width: 158px;
  height: 50px;
  top: 0;
  left: 0;
  background-color: #f7f8f9;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #555555;
}

.element .label {
  width: 133px;
  font-size: 12.9px;
  position: absolute;
  height: 23px;
  top: 12px;
  left: 15px;
  font-family: "ABeeZee", Helvetica;
  font-weight: 400;
  color: transparent;
  letter-spacing: 0;
  line-height: 22.5px;
  white-space: nowrap;
}

.element .span {
  color: #444444;
}

.element .text-wrapper-4 {
  color: #e63e30;
}

.element .overlap-group {
  position: absolute;
  width: 968px;
  height: 50px;
  top: 0;
  left: 158px;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #555555;
}

.element .input {
  position: relative;
  width: 933px;
  height: 32px;
  top: 8px;
  left: 15px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #d8d9db;
}

.element .row-2 {
  position: absolute;
  width: 1125px;
  height: 50px;
  top: 396px;
  left: 252px;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #d1d5dd;
}

.element .label-wrapper {
  height: 50px;
  top: 0;
  left: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #d1d5dd;
  position: absolute;
  width: 158px;
  background-color: #f7f8f9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.element .p {
  width: 47px;
  font-size: 12.7px;
  position: absolute;
  height: 23px;
  top: 12px;
  left: 15px;
  font-family: "ABeeZee", Helvetica;
  font-weight: 400;
  color: transparent;
  letter-spacing: 0;
  line-height: 22.5px;
  white-space: nowrap;
}

.element .data {
  position: absolute;
  width: 800px;
  height: 50px;
  top: 0;
  left: 325px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #d1d5dd;
}

.element .input-2 {
  position: relative;
  width: 934px;
  height: 32px;
  top: 9px;
  left: -151px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #d8d9db;
}

.element .cell-2 {
  height: 253px;
  top: 447px;
  left: 252px;
  border-color: #555555;
  position: absolute;
  width: 158px;
  background-color: #f7f8f9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.element .label-2 {
  position: absolute;
  width: 37px;
  height: 22px;
  top: 114px;
  left: 15px;
  font-family: "ABeeZee", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 12.7px;
  letter-spacing: 0;
  line-height: 22.5px;
  white-space: nowrap;
}

.element .border-wrapper {
  top: 447px;
  left: 410px;
  position: absolute;
  width: 967px;
  height: 253px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #555555;
}

.element .border {
  position: relative;
  width: 936px;
  height: 235px;
  top: 7px;
  left: 15px;
  border: 1px solid;
  border-color: #d8d9db;
}

.element .textarea {
  position: relative;
  width: 933px;
  height: 225px;
  top: 5px;
  left: 1px;
  background-color: #ffffff;
  overflow: hidden;
}

.element .container {
  position: relative;
  height: 35px;
  top: 180px;
}

.element .text-wrapper-5 {
  position: absolute;
  width: 100%; /* 부모 요소에 맞게 너비 조정 */
  height: 21px;
  top: 9px;
  left: 815px;
  font-family: "ABeeZee", Helvetica;
  font-weight: 400;
  color: #444444;
  font-size: 13.3px;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;

}

.element .cell-3 {
  height: 253px;
  top: 775px;
  left: 255px;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #555555;
  position: absolute;
  width: 158px;
  background-color: #f7f8f9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.element .text-wrapper-6 {
  color: #000000;
}

.element .data-2 {
  top: 775px;
  left: 413px;
  border-top-width: 1px;
  border-top-style: solid;
  position: absolute;
  width: 967px;
  height: 253px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #555555;
}

.element .div-sidebar {
  display: flex;
  flex-direction: column;
  width: 210px;
  height: 1286px;
  align-items: center;
  gap: 23px;
  padding: 13px 0px 1082px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #3d4d55;
}

.element .img {
  position: relative;
  width: 199px;
  height: 112px;
  object-fit: cover;
}

.element .text-wrapper-7 {
  position: relative;
  width: 153px;
  height: 24.2px;
  font-family: "Noto Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24.2px;
  white-space: nowrap;
}

.element .list-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-bottom: -231.2px;
}

.element .item-link {
  padding: 0px 117px 0px 28px;
  background-color: #3d4d55;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.element .text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Noto Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: -0.5px;
  line-height: 60px;
  white-space: nowrap;
}

.element .item-link-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 81px 0px 28px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.element .text-wrapper-9 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-right: -23px;
  font-family: "Noto Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: -0.5px;
  line-height: 60px;
  white-space: nowrap;
}

.element .text-wrapper-10 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Noto Sans KR", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: -0.5px;
  line-height: 60px;
  white-space: nowrap;
}

.element .item-link-3 {
  padding: 0px 81px 0px 28px;
  background-color: #d3c3b9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.element .text-wrapper-11 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Noto Sans KR", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: -0.5px;
  line-height: 60px;
  white-space: nowrap;
}
/* 임의 수정  */

.element .textarea-answer {
  position: relative;
  width: 933px;
  height: 225px;
  top: 5px;
  left: 1px;
  background-color: #ffffff;
  overflow: hidden;
}

.element .textarea-answer textarea {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  resize: none;
}

.element .container-answer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
  padding: 5px;
  box-sizing: border-box;
}

.element .text-wrapper-5-answer {
  font-size: 14px;
  color: #555;
}

.div-wrapper button {
        display: block;
        width: 100%;
        height: 100%;
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
      }
      
 a {
    text-decoration: none;
    color: #ffffff;
}