@charset "UTF-8";
.screen {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  background-color: #ffffff;
}
 
.screen .container {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1720px;
}

.screen .footer {
  position: absolute;
  width: 1920px;
  height: 220px;
  top: 1500px;
  left: 0;
  object-fit: cover;
}

.screen .frame {
  position: absolute;
  width: 1920px;
  height: 98px;
  top: 0;
  left: 0;
  background-image: url(./img/overlay.svg);
  background-size: 100% 100%;
}

.screen .navbar {
  position: relative;
  height: 98px;
  background-color: #00000080;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #ffffff33;
}

.screen .link {
  position: absolute;
  width: 46px;
  height: 20px;
  top: 15px;
  left: 1464px;
}

.screen .text-wrapper {
  position: absolute;
  width: 47px;
  height: 20px;
  top: -1px;
  left: 0;
  font-family: "ABeeZee", Helvetica;
  font-weight: 400;
  color: #888888;
  font-size: 11.6px;
  letter-spacing: 0;
  line-height: 19.5px;
  white-space: nowrap;
}

.screen .div-wrapper {
  position: absolute;
  width: 46px;
  height: 20px;
  top: 15px;
  left: 486px;
}

.screen .div {
  position: absolute;
  width: 35px;
  height: 20px;
  top: 15px;
  left: 1399px;
}

.screen .text-wrapper-2 {
  width: 35px;
  height: 20px;
  top: -1px;
  left: 0;
  font-family: "ABeeZee", Helvetica;
  font-weight: 400;
  color: #888888;
  font-size: 11.6px;
  line-height: 19.5px;
  position: absolute;
  letter-spacing: 0;
  white-space: nowrap;
}

.screen .text-wrapper-3 {
  width: 35px;
  height: 20px;
  top: 14px;
  left: 1334px;
  font-family: "ABeeZee", Helvetica;
  color: #888888;
  font-size: 11.6px;
  line-height: 19.5px;
  white-space: nowrap;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.screen .link-2 {
  position: absolute;
  width: 46px;
  height: 20px;
  top: 14px;
  left: 410px;
}

.screen .img {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 42px;
  left: 450px;
}

.screen .link-3 {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 42px;
  left: 1434px;
}

.screen .link-4 {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 42px;
  left: 1474px;
}

.screen .text-wrapper-4 {
  width: 48px;
  top: 30px;
  left: 755px;
  -webkit-text-stroke: 1px #ffffff;
  font-family: "Kokoro-Regular", Helvetica;
  color: transparent;
  font-size: 18px;
  text-align: center;
  line-height: 22.5px;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.screen .text-wrapper-5 {
  position: absolute;
  width: 48px;
  top: 30px;
  left: 655px;
  -webkit-text-stroke: 1px #ffffff;
  font-family: "Kokoro-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22.5px;
}

.screen .text-wrapper-6 {
  left: 1117px;
  position: absolute;
  width: 56px;
  top: 30px;
  -webkit-text-stroke: 1px #ffffff;
  font-family: "Kokoro-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22.5px;
}

.screen .text-wrapper-7 {
  left: 1225px;
  position: absolute;
  width: 56px;
  top: 30px;
  -webkit-text-stroke: 1px #ffffff;
  font-family: "Kokoro-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22.5px;
}

.screen .heading-link {
  position: absolute;
  width: 186px;
  height: 92px;
  top: -1px;
  left: 867px;
}

.screen .link-5 {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 42px;
  left: 410px;
  background-image: url(./img/link-4.png);
  background-size: 100% 100%;
}

.screen .line {
  position: absolute;
  /* width: 2020px; */
  height: 3px;
  top: 415px;
  left: 369px;
}

.screen .image {
  position: absolute;
  width: 149px;
  height: 145px;
  top: 465px;
  left: 886px;
}

.screen .text-wrapper-8 {
  width: 254px;
  height: 89px;
  top: 286px;
  left: 833px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #3d3c3c;
  font-size: 60px;
  text-align: center;
  line-height: 90px;
  position: absolute;
  letter-spacing: 0;
  white-space: nowrap;
}

.screen .text-wrapper-9 {
  width: 407px;
  height: 89px;
  top: 623px;
  left: 757px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #3d3c3c;
  font-size: 35px;
  line-height: 90px;
  position: absolute;
  letter-spacing: 0;
  white-space: nowrap;
}

.screen .overlap-group {
  position: absolute;
  width: 1200px;
  height: 474px;
  top: 733px;
  left: 369px;
  border-radius: 3px;
}

.screen .p {
  width: 661px;
  height: 60px;
  top: 86px;
  left: 258px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #3d3c3c;
  font-size: 30px;
  line-height: 90px;
  position: absolute;
  letter-spacing: 0;
  white-space: nowrap;
}

.screen .text-wrapper-10 {
  width: 448px;
  height: 60px;
  top: 166px;
  left: 366px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #3d3c3c;
  font-size: 25px;
  line-height: 90px;
  position: absolute;
  letter-spacing: 0;
  white-space: nowrap;
}

.screen .rectangle {
  position: absolute;
  width: 1200px;
  height: 474px;
  top: 0;
  left: 0;
  border-radius: 3px;
  border: 2px solid;
  border-color: #979797;
}

.screen .rectangle-2 {
  position: absolute;
  width: 393px;
  height: 89px;
  top: 287px;
  left: 398px;
}

.screen .text-wrapper-11 {
  width: 393px;
  height: 89px;
  top: 292px;
  left: 399px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 30px;
  line-height: 90px;
  position: absolute;
  letter-spacing: 0;
  white-space: nowrap;
  border-radius: 10px;
  background-color: #222222;
}
