.screen {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.screen .div {
    background-color: #ffffff;
    width: 1920px;
    height: 1900px;
    position: relative;
}

.screen .footer {
    position: absolute;
    width: 1920px;
    height: 223px;
    top: 1677px;
    left: 0;
    object-fit: cover;
}

.screen .overlap {
    position: absolute;
    width: 1920px;
    height: 1676px;
    top: 0;
    left: 0;
}

.screen .container {
    position: absolute;
    width: 1920px;
    height: 1577px;
    top: 99px;
    left: 0;
}

.screen .overlay {
    position: absolute;
    width: 1920px;
    height: 554px;
    top: -697px;
    left: 0;
}

.screen .heading {
    position: absolute;
    width: 247px;
    height: 50px;
    top: 208px;
    left: 431px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #222222;
    font-size: 50px;
    letter-spacing: -1px;
    line-height: 30.8px;
}

.screen .text-wrapper {
    position: absolute;
    width: 374px;
    height: 49px;
    top: 324px;
    left: 418px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 30.8px;
}

.screen .form {
    position: absolute;
    width: 1065px;
    height: 962px;
    top: 408px;
    left: 428px;
}

.screen .regist {
    position: absolute;
    width: 1062px;
    height: 858px;
    top: 3px;
    left: 3px;
}

.screen .name {
    position: absolute;
    width: 1062px;
    height: 77px;
    top: 231px;
    left: 0;
}

.screen .overlap-group {
    position: relative;
    width: 1064px;
    height: 79px;
    top: -1px;
    left: -1px;
}

.screen .div-2 {
    position: absolute;
    width: 1064px;
    height: 79px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #303030;
}

.screen .frame {
    position: relative;
    width: 224px;
    top: 23px;
    left: 249px;
    height: 32px;
    background-color: #ffffff;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid;
    border-color: #666666;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 30.8px;
    padding: 5px;
    padding-left: 15px;
}


.screen .div-wrapper {
    position: absolute;
    width: 228px;
    height: 79px;
    top: 0;
    left: 0;
    background-color: #f2f4f5;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #303030;
}

.screen .text-wrapper-3 {
    position: absolute;
    width: 99px;
    height: 34px;
    top: 20px;
    left: 14px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 30.8px;
    white-space: nowrap;
}

.screen .birth {
    position: absolute;
    width: 1062px;
    height: 77px;
    top: 308px;
    left: 0;
}

.screen .frame-2 {
    position: absolute;
    width: 95px;
    top: 22px;
    left: 249px;
    height: 32px;
    background-color: #ffffff;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid;
    border-color: #666666;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -1px;
    line-height: 30.8px;
}

.screen .frame-3 {
    position: absolute;
    width: 63px;
    height: 32px;
    top: 22px;
    left: 387px;
    background-color: #ffffff;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid;
    border-color: #666666;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -1px;
    line-height: 30.8px;
}

.screen .frame-4 {
    position: absolute;
    width: 63px;
    height: 32px;
    top: 22px;
    left: 494px;
    background-color: #ffffff;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid;
    border-color: #666666;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -1px;
    line-height: 30.8px;
}


.screen .text-wrapper-7 {
    position: absolute;
    width: 33px;
    height: 27px;
    top: 24px;
    left: 354px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 30.8px;
    white-space: nowrap;
}

.screen .text-wrapper-8 {
    position: absolute;
    width: 33px;
    height: 27px;
    top: 24px;
    left: 461px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 30.8px;
    white-space: nowrap;
}

.screen .text-wrapper-9 {
    position: absolute;
    width: 33px;
    height: 27px;
    top: 24px;
    left: 567px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 30.8px;
    white-space: nowrap;
}

.screen .overlap-2 {
    position: absolute;
    width: 1064px;
    height: 474px;
    top: 385px;
    left: -1px;
}

.screen .phone {
    position: absolute;
    width: 1062px;
    height: 77px;
    top: 0;
    left: 1px;
}

.screen .frame-5 {
    position: absolute;
    width: 95px;
    top: 23px;
    left: 397px;
    height: 32px;
    background-color: #ffffff;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid;
    border-color: #666666;
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 30.8px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    padding: 5px;
    padding-left: 15px;
}


.screen .frame-6 {
    width: 95px;
    top: 23px;
    left: 520px;
    position: absolute;
    height: 32px;
    background-color: #ffffff;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid;
    border-color: #666666;
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 30.8px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    padding: 5px;
    padding-left: 15px;
}

.screen .text-wrapper-11 {
    position: absolute;
    width: 20px;
    height: 27px;
    top: 20px;
    left: 496px;
    font-family: "Inter", Helvetica;
    font-weight: 200;
    color: #000000;
    font-size: 40px;
    letter-spacing: -1px;
    line-height: 30.8px;
    white-space: nowrap;
}

.screen .text-wrapper-12 {
    position: absolute;
    width: 19px;
    height: 27px;
    top: 20px;
    left: 374px;
    font-family: "Inter", Helvetica;
    font-weight: 200;
    color: #000000;
    font-size: 40px;
    letter-spacing: -1px;
    line-height: 30.8px;
    white-space: nowrap;
}

.screen .select {
    position: absolute;
    width: 121px;
    height: 32px;
    top: 23px;
    left: 249px;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid;
    border-color: #666666;
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 30.8px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    padding: 5px;
    padding-left: 15px;
}

.screen .text-wrapper-13 {
    width: 76px;
    height: 19px;
    top: 6px;
    left: 14px;
    color: #00000080;
    font-size: 15px;
    letter-spacing: -0.5px;
    line-height: 34px;
    position: absolute;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    white-space: nowrap;
}

.screen .image {
    position: absolute;
    width: 10px;
    height: 5px;
    top: 14px;
    left: 98px;
}

.screen .esend {
    position: absolute;
    width: 1062px;
    height: 77px;
    top: 229px;
    left: 1px;
}

.screen .overlap-group-2 {
    position: absolute;
    width: 74px;
    height: 27px;
    top: 24px;
    /*278*/
    left: 245px;
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 30.8px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
}

.screen .label {
    top: 0;
    left: 0;
    position: absolute;
    width: 74px;
    height: 27px;
    font-family: "ABeeZee", Helvetica;
    font-weight: 400;
    color: #444444;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 22.5px;
    white-space: nowrap;
}

.screen .input {
    position: absolute;
    width: 17px;
    height: 19px;
    top: 4px;
    left: 53px;
    background-color: #ffffff;
    border-radius: 50px;
    border: 1px solid;
    border-color: #767676;
}

.screen .label-2 {
    top: 24px;
    left: 323px;
    position: absolute;
    width: 100px;
    height: 27px;
    font-family: "ABeeZee", Helvetica;
    font-weight: 400;
    color: #444444;
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 30.8px;
}

.screen .text-wrapper-14 {
    position: absolute;
    width: 180px;
    height: 34px;
    top: 20px;
    left: 14px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 30.8px;
    white-space: nowrap;
}

.screen .adress {
    position: absolute;
    width: 1064px;
    height: 169px;
    top: 305px;
    left: 0;
    background-color: #ffffff;
    overflow: hidden;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: #303030;
}

.screen .textfield {
    position: absolute;
    width: 470px;
    height: 32px;
    top: 68px;
    left: 247px;
    background-color: #ffffff;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid;
    border-color: #666666;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 30.8px;
    white-space: nowrap;
    padding: 5px;
    padding-left: 15px;
}

.screen .frame-7 {
    width: 470px;
    top: 115px;
    left: 247px;
    position: absolute;
    height: 32px;
    background-color: #ffffff;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid;
    border-color: #666666;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 30.8px;
    white-space: nowrap;
    padding: 5px;
    padding-left: 15px;
}

.screen .adnum-textfield {
    position: absolute;
    width: 175px;
    height: 32px;
    top: 21px;
    left: 247px;
    background-color: #ffffff;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid;
    border-color: #666666;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 30.8px;
    white-space: nowrap;
    padding: 5px;
    padding-left: 15px;
}

.screen .adnum {
    position: absolute;
    width: 144px;
    height: 32px;
    top: 21px;
    left: 436px;
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid;
    border-color: #595959;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: -1px;
    white-space: nowrap;
}

.screen .adress-name {
    position: absolute;
    width: 228px;
    height: 169px;
    top: -1px;
    left: -1px;
    background-color: #f2f4f5;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: #303030;
}

.screen .email {
    position: absolute;
    width: 1064px;
    height: 154px;
    top: 76px;
    left: 0;
    background-color: #ffffff;
    overflow: hidden;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #303030;
}

.screen .overlap-3 {
    position: relative;
    width: 1063px;
    height: 155px;
    top: -1px;
    left: -1px;
}

.screen .email_1 {
    position: absolute;
    width: 1062px;
    height: 77px;
    top: 1px;
    left: 1px;
}

.screen .email-check {
    position: absolute;
    width: 1062px;
    height: 77px;
    top: 78px;
    left: 1px;
}

.screen .email-name {
    position: absolute;
    width: 228px;
    height: 154px;
    top: 0;
    left: 0;
    background-color: #f2f4f5;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #303030;
}

.screen .text-wrapper-18 {
    position: absolute;
    width: 99px;
    height: 34px;
    top: 56px;
    left: 14px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 30.8px;
    white-space: nowrap;
}

.screen .overlap-4 {
    position: absolute;
    width: 1105px;
    height: 231px;
    top: 0;
    left: -1px;
}

.screen .pw {
    position: absolute;
    width: 1064px;
    height: 79px;
    top: 76px;
    left: 0;
    background-color: #ffffff;
    overflow: hidden;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #303030;
}

.screen .frame-8 {
    position: absolute;
    width: 224px;
    height: 32px;
    top: 22px;
    left: 249px;
    background-color: #ffffff;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid;
    border-color: #666666;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: -0.5px;
    padding: 5px;
    padding-left: 15px;
}

.screen .frame-9 {
    position: absolute;
    width: 228px;
    height: 79px;
    top: -1px;
    left: -1px;
    background-color: #f2f4f5;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #303030;
}

.screen .id {
    position: absolute;
    width: 1104px;
    height: 77px;
    top: 0;
    left: 1px;
}

.screen .frame-10 {
    position: absolute;
    width: 1064px;
    height: 79px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-top-width: 2px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #303030;
}

.screen .frame-11 {
    position: absolute;
    width: 221px;
    top: 23px;
    left: 249px;
    height: 32px;
    background-color: #ffffff;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid;
    border-color: #666666;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px; !important;
    letter-spacing: -1px;
    padding: 5px; !important;
    padding-left: 15px; !important;
}

.screen .frame-12 {
    width: 110px;
    top: 23px;
    left: 490px;
    position: absolute;
    height: 32px;
    background-color: #ffffff;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid;
    border-color: #666666;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: -1px;
}

.screen .text-wrapper-20 {
    position: absolute;
    width: 59px;
    height: 20px;
    top: 26px;
    left: 611px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #1665ff;
    font-size: 15px;
    letter-spacing: -1px;
    line-height: 30.8px;
    white-space: nowrap;
    display: none;
}

.screen .frame-13 {
    position: absolute;
    width: 228px;
    height: 79px;
    top: 0;
    left: 0;
    background-color: #f2f4f5;
    border-top-width: 2px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #303030;
}

.screen .pw-check {
    position: absolute;
    width: 1062px;
    height: 77px;
    top: 154px;
    left: 1px;
}

.screen .text-wrapper-22 {
    position: absolute;
    width: 59px;
    height: 20px;
    top: 28px;
    left: 492px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #1665ff;
    font-size: 15px;
    letter-spacing: -1px;
    line-height: 30.8px;
    white-space: nowrap;
    display: none;
}

.screen .text-wrapper-23 {
    position: absolute;
    width: 116px;
    height: 34px;
    top: 20px;
    left: 14px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 30.8px;
    white-space: nowrap;
}

.screen .button {
    all: unset;
    box-sizing: border-box;
    width: 143px;
    left: 357px;
    background-color: #0e202a;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    position: absolute;
    height: 52px;
    top: 910px;
    border-radius: 5px;
    overflow: hidden;
    font-family: "Noto Sans KR", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: -0.36px;
    text-align: center;
}

.screen .text-wrapper-24 {
    position: absolute;
    width: 27px;
    height: 22px;
    top: 14px;
    left: 56px;
    font-family: "Noto Sans KR", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: -0.36px;
    line-height: 16.5px;
}

.screen .button-2 {
    all: unset;
    box-sizing: border-box;
    width: 144px;
    left: 562px;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #595959;
    position: absolute;
    height: 52px;
    top: 910px;
    border-radius: 5px;
    overflow: hidden;
    font-family: "Noto Sans KR", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: -0.36px;
    text-align: center;
}

.screen .text-wrapper-25 {
    position: absolute;
    width: 26px;
    height: 22px;
    top: 14px;
    left: 56px;
    font-family: "Noto Sans KR", Helvetica;
    font-weight: 500;
    color: #414141;
    font-size: 14px;
    letter-spacing: -0.36px;
    line-height: 16.5px;
}

.screen .navbar {
    position: absolute;
    width: 1920px;
    height: 100px;
    top: 0;
    left: 0;
    background-color: #00000080;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #ffffff33;
}

.screen .link {
    position: absolute;
    width: 46px;
    height: 20px;
    top: 15px;
    left: 1464px;
}

.screen .text-wrapper-26 {
    position: absolute;
    width: 47px;
    height: 20px;
    top: -1px;
    left: 0;
    font-family: "ABeeZee", Helvetica;
    font-weight: 400;
    color: #888888;
    font-size: 11.6px;
    letter-spacing: 0;
    line-height: 19.5px;
    white-space: nowrap;
}

.screen .link-2 {
    position: absolute;
    width: 46px;
    height: 20px;
    top: 15px;
    left: 486px;
}

.screen .link-3 {
    position: absolute;
    width: 35px;
    height: 20px;
    top: 15px;
    left: 1399px;
}

.screen .text-wrapper-27 {
    position: absolute;
    width: 35px;
    height: 20px;
    top: -1px;
    left: 0;
    font-family: "ABeeZee", Helvetica;
    font-weight: 400;
    color: #888888;
    font-size: 11.6px;
    letter-spacing: 0;
    line-height: 19.5px;
    white-space: nowrap;
}

.screen .text-wrapper-28 {
    width: 35px;
    height: 20px;
    top: 14px;
    left: 1334px;
    font-family: "ABeeZee", Helvetica;
    color: #888888;
    font-size: 11.6px;
    line-height: 19.5px;
    white-space: nowrap;
    position: absolute;
    font-weight: 400;
    letter-spacing: 0;
}

.screen .link-4 {
    position: absolute;
    width: 46px;
    height: 20px;
    top: 14px;
    left: 410px;
}

.screen .link-5 {
    position: absolute;
    width: 36px;
    height: 36px;
    top: 42px;
    left: 450px;
}

.screen .link-6 {
    position: absolute;
    width: 36px;
    height: 36px;
    top: 42px;
    left: 1434px;
}

.screen .link-7 {
    position: absolute;
    width: 36px;
    height: 36px;
    top: 42px;
    left: 1474px;
}

.screen .text-wrapper-29 {
    width: 48px;
    top: 30px;
    left: 755px;
    -webkit-text-stroke: 1px #ffffff;
    font-family: "Kokoro-Regular", Helvetica;
    color: transparent;
    font-size: 18px;
    text-align: center;
    line-height: 22.5px;
    position: absolute;
    font-weight: 400;
    letter-spacing: 0;
}

.screen .text-wrapper-30 {
    position: absolute;
    width: 48px;
    top: 30px;
    left: 655px;
    -webkit-text-stroke: 1px #ffffff;
    font-family: "Kokoro-Regular", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 22.5px;
}

.screen .text-wrapper-31 {
    left: 1117px;
    position: absolute;
    width: 56px;
    top: 30px;
    -webkit-text-stroke: 1px #ffffff;
    font-family: "Kokoro-Regular", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 22.5px;
}

.screen .text-wrapper-32 {
    left: 1225px;
    position: absolute;
    width: 56px;
    top: 30px;
    -webkit-text-stroke: 1px #ffffff;
    font-family: "Kokoro-Regular", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 22.5px;
}

.screen .heading-link {
    position: absolute;
    width: 186px;
    height: 92px;
    top: -1px;
    left: 867px;
}

.screen .link-8 {
    position: absolute;
    width: 36px;
    height: 36px;
    top: 42px;
    left: 410px;
    background-image: url(https://c.animaapp.com/BnU3osMX/img/link-8@2x.png);
    background-size: 100% 100%;
}

/*=======*/

.form .email_1 {
    position: relative;
    width: 1062px;
    height: 77px;
}

.form .email_1 .select_1 {
    position: absolute;
    width: 129px;
    height: 32px;
    top: 22px;
    left: 417px;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid;
    border-color: #666666;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    letter-spacing: -1px;
    padding: 3px;
    padding-left: 15px;
}

.form .email_1 .button_1 {
    all: unset;
    box-sizing: border-box;
    position: absolute;
    width: 80px;
    height: 32px;
    top: 22px;
    left: 576px;
    background-color: #ffffff;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid;
    border-color: #666666;
    font-size: 15px;
    text-align: center;
}

.form .email_1 .div_1 {
    width: 77px;
    top: 1px;
    left: 3px;
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 30.8px;
    position: absolute;
    height: 30px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    text-align: center;
    white-space: nowrap;
}

.form .email_1 .frame_1 {
    position: absolute;
    width: 128px;
    height: 32px;
    top: 22px;
    left: 249px;
    background-color: #ffffff;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid;
    border-color: #666666;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    letter-spacing: -1px;
    line-height: 30.8px;
    white-space: nowrap;
    padding: 5px;
    padding-left: 15px;
}


.form .email_1 .text-wrapper-3_1 {
    width: 40px;
    top: 21px;
    left: 377px;
    font-size: 15px;
    letter-spacing: -0.5px;
    line-height: 34px;
    position: absolute;
    height: 30px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    text-align: center;
    white-space: nowrap;
}

/*======*/
.email-check .button_2 {
    all: unset;
    box-sizing: border-box;
    position: absolute;
    width: 80px;
    height: 32px;
    top: 22px;
    left: 576px;
    background-color: #ffffff;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid;
    border-color: #666666;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    text-align: center;
}

.email-check .text-wrapper_2 {
    position: absolute;
    width: 77px;
    height: 30px;
    top: 1px;
    left: 3px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: -1px;
    line-height: 30.8px;
    white-space: nowrap;
}

.email-check .text_2 {
    position: absolute;
    width: 296px;
    height: 32px;
    top: 22px;
    left: 249px;
    background-color: #ffffff;
    border-radius: 3px;
    border: 1px solid;
    border-color: #666666;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 30.8px;
    padding: 5px;
    padding-left: 15px;
}


.email-check .div_2 {
    position: absolute;
    width: 59px;
    height: 20px;
    top: 27px;
    left: 677px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #1665ff;
    font-size: 15px;
    letter-spacing: -1px;
    line-height: 30.8px;
    white-space: nowrap;
    display: none;
}

button:active {
    transform: scale(0.95);
}

button:active {
    background-color: #0a161d;
}